/Prototype/build/
/Prototype/dist/
/Prototype/Songs/
/arffTool/build/
/arffTool/dist/
/LearnClassifyTest/nbproject/private/
/LearnClassifyTest/build/
/LearnClassifyTest/dist/
/GUI/nbproject/private/
/GUI/build/
/GUI/dist/
/guitesting/nbproject/private/
/guitest/nbproject/private/
/JavaFXVideoPlayerLaunchedFromSwing/nbproject/private/
/JavaFXVideoPlayerLaunchedFromSwing/build/
/JavaFXVideoPlayerLaunchedFromSwing/dist/
/removeMFCC/nbproject/private/
/removeMFCC/build/
/audiosplitter/nbproject/private/
/audiosplitter/build/
/audiosplitter/dist/
/jaudiotest - Copy/build/
/jaudiotest - Copy/dist/
/jaudiotest - Copy/nbproject/private/
/jaudiotestsplit/build/
/jaudiotestsplit/dist/
/jaudiotestsplit/nbproject/private/
/removeMFCC/dist/
/setsubsong/nbproject/private/
/setsubsong/build/