/Prototype/build/
/Prototype/dist/
/Prototype/Songs/
/arffTool/build/
/arffTool/dist/
/LearnClassifyTest/nbproject/private/
/LearnClassifyTest/build/
/LearnClassifyTest/dist/
/GUI/nbproject/private/
/GUI/build/
/GUI/dist/